[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".config/alacritty/catppuccin"]
	path = .config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
